<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org" class="light">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta th:if="${singlePage.spec.excerpt}" name="description" th:content="${singlePage.spec.excerpt}">
    <meta th:if="${singlePage.status.excerpt and not singlePage.spec.excerpt}" name="description" th:content="${singlePage.status.excerpt}">
    <title th:text="${singlePage.spec.title + ' - ' + site.title}"></title>
    <script src="https://cdn.jsdmirror.com/npm/jquery@3.5.1/dist/jquery.min.js"
        type="application/javascript"></script>
    <link href="https://cdn.jsdmirror.com/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" type="text/css"
        rel="stylesheet">
    <link th:href="@{/assets/css/style.css?v={version}(version=${theme.spec.version})}" type="text/css"
        rel="stylesheet">
    <link th:href="@{/assets/css/post.css?v={version}(version=${theme.spec.version})}" type="text/css"
        rel="stylesheet">
</head>

<body>
    <!-- 页面背景 -->
    <th:block th:replace="~{fragments/banner :: banner}"></th:block>

    <!-- 顶部导航 -->
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

    <!-- 页面内容 -->
    <div class="container" style="margin-top:10vh; position: relative; z-index: 100;">
        <h2 class="title" th:text="${singlePage.spec.title}"></h2>

        <!-- 文章内容 -->
        <article class="article" th:utext="${singlePage.content.content}"></article>

        <!-- 评论区 -->
        <div th:if="${haloCommentEnabled}" class="article">
            <halo:comment
                group="content.halo.run"
                kind="SinglePage"
                th:attr="name=${singlePage.metadata.name}"
            />
        </div>

        <!-- 公共脚本 -->
        <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

        <!-- 页脚 -->
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>

</body>

</html>
